body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./asset/bg.jpg");
  background-size: cover;
}

header > h1 {
  color: #eee;
  text-shadow: 2px 2px 4px rgba(180, 103, 0, 0.1);
  font-size: 2em; 
  margin: 0;
  padding: 10px;
  text-align: center;
}

.container {
  max-width: 1000px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main > div {
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(3, 3, 3, 0.5);
  border-radius: 10px;
  padding: 15px;
  color: #eee;
  margin: 10px;
  margin-bottom: 20px;
  min-width: 400px;
  box-shadow: 0 2px 6px rgba(180, 103, 0, 0.1);
}

.header {
  text-align: center;
}

.form-container h2 {
  text-align: center;
}

.form-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-container input[type="number"] {
  border: thin solid rgb(102, 102, 102);
  background: #2c2b2b;
  border-radius: 5px;
  color: #eee;
  padding: 8px;
  width: 45px;
}

.form-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.form-line label {
  margin-right: 10px;
}

.form-line img {
  width: 50px;
}

.itens {
  margin-left: 20px;
  margin-bottom: -9px;
  width: 30px; 
  height: 30px; 
}

.result-item {
  display: flex;
  justify-content: center;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #45a049;
}

footer  {
  text-align: center;
  color: #eee;
  text-shadow: 2px 2px 30px rgb(68, 8, 8);}

  /* Media queries para ajustar o layout em telas menores */
@media (max-width: 600px) {
  header > h1 {
    font-size: 1.5em; /* Ajuste o tamanho da fonte para telas menores */
    padding: 20px; /* Adicione mais espaço ao redor do texto */
    padding-top: 20px;
  }

  main > div {
    min-width: auto; /* Permite que os blocos se ajustem ao tamanho da tela */
    width: 100%; /* Garante que os blocos ocupem a largura total da tela */
    margin: 5px; /* Reduz o espaço entre os blocos para telas menores */
  }

  .form-container input[type="number"] {
    width: 60px; /* Aumenta a largura dos inputs para facilitar o toque */
  }
}